body{
	display: block;
	margin: 8px;
	background-color: white;
	margin: 2px;	
}
.container{
	margin-top: 4%;
	width: 500px;
	height: 500px;
	background-color: green; 
	padding: 25px;
	border:3px solid #000;
}
.fbox{
	display: block;
	width: 80%;
	height: 80%;
	margin-top: 30px;
	background-color: white;
	top:40%;
	left:20%;
	border: 1px solid;
  padding: 4px 2px;
  border-radius: 10px;
  border: none;
  box-shadow: -5px 10px 8px 10px #c3cbd2;
}
ul{
	list-style:none;
	padding: 20px;
}
li{
	padding: 20px;
}
.button{
	float: right;
	margin-left: 70%
  width: 10%;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  color: solid black;
  background-color: #ccc;
}
.icon{
	display: flex;
	justify-content: flex-end;
	padding: 2%;
	border-radius: 100%;
  border: #ccc 21px;
  width: 2px;
  height: 2px;
  background-color: #ccc;
  }
